@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
    }
body {
    background-image: linear-gradient(to right, #023E8A , #0077B8);
    }
.mainIndex {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}
main,
.informationPage {
    text-align: center;
    }
.informationPage {
    padding-left: 380px;
}
.button {
    border: 3px solid #0077B8;
    border-radius: 30px 30px 30px 5px;
    display: inline-block;
    color: #ADE8F4;
    font-size: 20px;
    margin: 10px;
    text-align: center;
    text-decoration: none;
    padding: 10px;
    width: 250px;
}
a:hover {
    color: #023E8A;
}
.buttonIndex:hover {
    background: #0077B8;
}
article {
    height: 500px;
    width: 400px;
    border: 3px solid #0077B8;
}
section {
    padding-top: 10px;
    width: 100%;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}
h1 {
    color: #ADE8F4;
}
h2 {
    color: #ADE8F4;
    font-size: 200%;
    margin-top: 50px;
    margin-bottom: 50px;
}
div {
    display: inline-block;
    width: 426px;
    text-align: right;
    border: 3px solid #0077B8;
    border-radius: 30px 30px 30px 5px;
    padding: 20px;
    margin-bottom: 100px;
}
p {
    text-align: left;
    color: #ADE8F4;
    font-size: 150%;
    margin-left: 10px;
}
figure {
    text-align: center;
    margin-top: 40px;
    padding-left: 8px;
}
footer {
    display: inline-block;
}

/* INFORMATION PAGE */
.information {
    width: 600px;
    float: left;
    padding-left: 190px;
}
.aside {
    display: inline-block;
    width: 200px;
    border: none;
    margin-bottom: 20px;
}
img {
    width: 200px;
    /* border: 3px solid #0077B8; */
    border-radius: 30px 30px 30px 5px;
    box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
}
.bottomPic,
.bottomPicLowered {
    width: 250px;
    height: 150px;
    /* border: 3px solid #0077B8; */
    border-radius: 30px 30px 30px 5px;
    margin-left: 10px;
}
.bottomPicLowered {
    margin-top: 40px;
    box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
}
.bottomPic {
    margin-bottom: 40px;
    box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
}
.legal {
    font-size: 50%;
    text-align: center;
    margin-bottom: 20px;
}
.infoText {
    margin-left: 200px;
    margin-top: 50px;
    margin-bottom: 40px;
}
.fixedButton {
    background-size: 300% 100%;
    border: 3px solid #0077B8;
    border-radius: 30px 30px 30px 5px;
    background-color: #023E8A;
    color: #ADE8F4;
    position: fixed;
    text-align: center;
    text-decoration: none;
    bottom: 10px;
    right: 10px;
    width: 150px;
    height: 100px;
    font-size: 150%;
    padding-top: 28px;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}
.fixedButton:hover {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    /* background: #0077B8;
    border-color: #023E8A; */
    width: 200px;
    height: 150px;
    padding-top: 50px;
    font-size: 200%;
    /* cursor: pointer; */
    background-position: 100% 0;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}
#fixedAnchor {
    text-decoration: none;
    color: #ADE8F4;
}
.fixedButton:focus {
    outline: none;
}
.fixedButton.color:hover {
    background-image: linear-gradient(to left, #023E8A, #0077B8, #0077B8, #33b7ec);
    box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
}
#fixedAnchor:hover {
    cursor: pointer;
}

/* INDEX PAGE */
.buttonIndex {
    border: 3px solid #0077B8;
    border-radius: 30px 30px 30px 5px;
    display: inline-block;
    color:#ADE8F4;
    margin: 10px;
    text-align: center;
    text-decoration: none;
    width: 250px;
    height: 75px;
    width: 450px;
    padding-top: 20px;
    background-color: #023E8A;
    font-size: 150%;
}
.pIndex {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 50px;
    font-size: 200%;
}
.sectionIndex {
    border: 3px solid #0077B8;
    border-radius: 30px 30px 30px 5px;
    width: 800px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    padding-top: 40px;
}


/* FORM */
form {
    height: 1000px;
    width: 100%;
    display: inline-block;
    text-align:center;
    padding-left: 320px;
}
fieldset {
    border: 3px solid #0077B8;
    border-radius: 30px 30px 30px 5px;
    box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    height: 550px;
    width: 400px;
    text-align: left;
    margin-left: 10px;
    margin-bottom: 50px;
    float: left;
}
.contactInfo {
    padding-right: 20px;
    text-align: right;
    height: 550px;
    width: 426px;
    display: inline-block;
}
label {
    color: #ADE8F4;
}
legend {
    border: 3px solid #0077B8;
    border-radius: 30px 30px 30px 5px;
    background-color: #023E8A;
    box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
    font-size: 150%;
    text-align: left;
    margin-left: 10px;
    color: #ADE8F4;
    padding-top: 2px;
    padding-left: 5px;
    padding-bottom:2px;
    width: 200px;
    display: inline-block;
}
#submit {
    width: 400px;
    height: 50px;
    border: 3px solid #0077B8;
    border-radius: 30px 30px 30px 5px;
    background-color: #023E8A;
    color: #ADE8F4;
    margin-top: 10px;
}
#message {
    color: #ADE8F4;
    border: 3px solid #0077B8;
    border-radius: 30px 30px 30px 5px;
    height: 250px;
    width: 400px;
    margin-top: 5px;
    padding-left: 10px;
    padding-top: 5px;
    background: #023E8A;
    text-align: left;
}
#input {
    width: 100%;
}
#name,
#email {
    background-color: #023E8A;
    height: 25px;
    width: 400px;
    margin-top: 5px;
    border: 3px solid #0077B8;
    border-radius: 30px 30px 30px 5px;
    color: #ADE8F4;
    margin-bottom: 20px;
    padding-left: 10px;
}
#submit:hover {
    background-color: #0077B8;
    color: #023E8A;
}
textarea {
    resize: none;
}

/* DROPDOWN MENU*/
.dropButton {
    background-color: #023E8A;
    color: #ADE8F4;
    text-align: center;
    font-size: 150%;
    width: 150px;
    height: 100px;
    border: 3px solid #0077B8;
    border-radius: 30px 30px 30px 5px;
}
.dropButton:hover {
    box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdownContent {
    display: none;
    position: absolute;
    background-color: #023E8A;
    border: 3px solid #0077B8;
    border-radius: 30px 30px 30px 5px;
    min-width: 100%;
    overflow: auto;
    z-index: 1;
}
.dropdownContent a {
    color: #ADE8F4;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdownContent a:hover {
    background-color: #0077B8;
    /* box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75); */
}
.dropdown:hover .dropdownContent {
    display: block;
    cursor: pointer;
}
.dropdown:hover .dropButton {
    background-color: #0077B8;
}
header {
    text-align: left;
    padding-top: 10px;
    padding-left: 10px;
}
nav {
    text-align: right;
    display: inline-block;
}

/* SCROLLING TEXT */
.scroll-left {
    height: 50px;
    width: 800px;
    margin-top: 40px;
    margin-bottom: 0px;
    overflow: hidden;
    position: relative;
    /* background: #023E8A; */
    color: #ADE8F4;
    border: 3px solid #0077B8;
}
.scroll-left p {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    line-height: 5px;
    text-align: center;
    -moz-transform:translateX(100%);
    -webkit-transform:translateX(100%);
    transform:translateX(100%);
    -moz-animation: scroll-left 15s linear infinite;
    -webkit-animation: scroll-left 15s linear infinite;
    animation: scroll-left 15s linear infinite;
}
@-moz-keyframes scroll-left {
    0% {-moz-transform: translateX(100%);}
    100% {-moz-transform: translateX(-100%);}
}
@keyframes scroll-left {
    0% {-moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);}
    100% {-moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%)}
}
/* DARK AND LIGHTMODE */
.dark-mode {
    background-image: linear-gradient(to right, #023E8A , #000000);
}
#dark-modeBtn {
    text-align: center;
    background-color: transparent;
    border: 3px solid #0077B8;
    border-radius: 30px 30px 30px 30px;
    width: 200px;
    height: 50px;
}
.light-mode {
    background-image: linear-gradient(to right, #023E8A , #0077B8);
}